<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AjoutServlet</servlet-name>
  	<display-name>AjoutServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.AjoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjoutPersonneServlet</servlet-name>
  	<display-name>AjoutPersonneServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.AjoutPersonneServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjoutVehiculeServlet</servlet-name>
  	<display-name>AjoutVehiculeServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.AjoutVehiculeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListeServlet</servlet-name>
  	<display-name>ListeServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.ListeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuppPersonneServlet</servlet-name>
  	<display-name>SuppPersonneServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.SuppPersonneServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MajPersonneServlet</servlet-name>
  	<display-name>MajPersonneServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.MajPersonneServlet</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>AjoutColisServlet</servlet-name>
  	<display-name>AjoutColisServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.AjoutColisServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuppVehiculeServlet</servlet-name>
  	<display-name>SuppVehiculeServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.SuppVehiculeServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>MajVoitureServlet</servlet-name>
  	<display-name>MajVoitureServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.MajVoitureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MajCamionServlet</servlet-name>
  	<display-name>MajCamionServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.MajCamionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuppColisServlet</servlet-name>
  	<display-name>SuppColisServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.SuppColisServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MajColisServlet</servlet-name>
  	<display-name>MajColisServlet</display-name>
  	<description></description>
  	<servlet-class>org.eclipse.controller.MajColisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AjoutServlet</servlet-name>
  	<url-pattern>/ajout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjoutPersonneServlet</servlet-name>
  	<url-pattern>/ajoutPersonne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjoutVehiculeServlet</servlet-name>
  	<url-pattern>/ajoutVehicule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListeServlet</servlet-name>
  	<url-pattern>/liste</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuppPersonneServlet</servlet-name>
  	<url-pattern>/suppPersonne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MajPersonneServlet</servlet-name>
  	<url-pattern>/majPersonne</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AjoutColisServlet</servlet-name>
  	<url-pattern>/ajoutColis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuppVehiculeServlet</servlet-name>
  	<url-pattern>/suppVehicule</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>MajVoitureServlet</servlet-name>
  	<url-pattern>/majVoiture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MajCamionServlet</servlet-name>
  	<url-pattern>/majCamion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuppColisServlet</servlet-name>
  	<url-pattern>/suppColis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MajColisServlet</servlet-name>
  	<url-pattern>/majColis</url-pattern>
  </servlet-mapping>
</web-app>
